<div style="background-color:darkviolet;" class="container">

  <h2 style="color: white; font: 3em sans-serif; font-family: cursive;" class="d-flex justify-content-center">Library System</h2>


  <nav style="background-color: darkviolet;" class="navbar navbar-expand-lg  bg-light navbar-dark">
  <ul style="background-color: darkviolet;" class="navbar-nav">
      <li class="nav-item">
          <button routerLink="authors" style="border-color: white; background-color: darkviolet; color:white; font-family: cursive;" 
          class="m-1 btn btn-light btn-outline-primary" Button>Authors</button>
      </li>

      <li class="nav-item">
          <button  routerLink="genres" style="border-color: white; background-color: darkviolet; color:white;font-family: cursive;"
          class="m-1 btn btn-light btn-outline-primary" Button>Genres</button>
      </li> 

       <li class="nav-item">
          <button routerLink="books" style="border-color: white; background-color: darkviolet; color:white;font-family: cursive;"
          class="m-1 btn btn-light btn-outline-primary" Button>Books</button>
      </li>

       <li class="nav-item">
          <button routerLink="users" style="border-color: white; background-color: darkviolet; color:white;font-family: cursive;"
          class="m-1 btn btn-light btn-outline-primary" Button>Users</button>
      </li>

       <li class="nav-item">
          <button routerLink="orders" style="border-color: white; background-color: darkviolet; color:white;font-family: cursive;"
          class="m-1 btn btn-light btn-outline-primary" Button>Orders</button>
      </li>
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>